<div class="container">
  <div class="centered-content">
    <div *ngIf="loader">
      <app-loader></app-loader>
    </div>
    <div class="content" *ngIf="!loader">
      <div class="logo"><img src="../../../assets/logo.png"></div>

      <h4>Sign in</h4>
      <p>Sign in to continue to Chatvia.</p>
      <div class="signin-form card-body">
        <form #signinForm=ngForm (ngSubmit)="signIn(signinForm.value)">
          <div class="alert alert-danger text-center" style="font-size: 14px;" *ngIf="error">
            {{error}}
          </div>
          <div class="form-group">
            <label>Username</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText name="username" #username required ngModel>
            </div>
          </div>

          <div class="form-group">
            <label>Password</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
              <input type="password" pInputText name="password" #password required minlength="5" ngModel>
            </div>
          </div>

          <button pButton pRipple type="submit" label="Sign in" class="signin-button"
            [disabled]='!signinForm.valid'></button>
        </form>
      </div>

      <p>Don' t have an account ? <a routerLink="/signup">Signup now</a></p>
    </div>


  </div>
</div>
