
/* Global styles */
.body{
  background-color: #303841;
  color: #dae9f1;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family:"Public Sans",sans-serif;;
}

input{
  background-color: #2a323d;
  border: 1px solid #494f59 ;
  padding: 8px;
  color: #dae9f1;
}
a{
  text-decoration: none !important;
}
